<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <title>Node File Uploads</title>
  </head>
  <body>
    <div class="container">
      <h1>File Upload</h1>
      <%= typeof msg != 'undefined' ? msg : '' %>
      <form action="/upload/signup" method="POST">
        <div class="row">
          <div class="input-field col s12">
            <input id="first_name2" type="text" name="name" class="validate" />
            <label class="active" for="first_name2">Name</label>
          </div>
          <div class="input-field col s12">
            <input id="first_name2" type="text" name="email" class="validate" />
            <label class="active" for="first_name2">Email</label>
          </div>
          <div class="input-field col s12">
            <input
              id="first_name2"
              type="password"
              name="password"
              class="validate"
            />
            <label class="active" for="first_name2">Password</label>
          </div>
          <div class="file-field input-field col s12">
            <div class="btn grey">
              <span>Avatar</span>
              <input name="avatar" type="file" />
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" />
            </div>
          </div>

          <button type="submit" class="btn green col s12 m6">Submit</button>
        </div>
      </form>
    </div>
    <br />
    <img
      src="<%= typeof file != 'undefined' ? file : '' %>"
      class="responsive-img"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
